<h1>Change password here!</h1>
 
      <form action="/auth/forget_password" method="POST">
              {{ form.csrf_token }}
 	<div class="form-group">
             <p> {{ form.email.label }} </p>
             <p>  {{ form.email(class="form-control") }} </p>
                  {% for error in form.email.errors %}
                   <small> {{ error }}</small>
                   {% endfor %}
 	<div class="form-group">
             <p> {{ form.password.label }} </p>
             <p> {{ form.password(class="form-control") }}</p>
                  {% for error in form.password.errors %}
                       <small> {{ error }}</small>
                  {% endfor %}
  	
          </div>
    <div class="form-group">
        <p> {{ form.confirm.label }} </p>
        <p> {{ form.confirm(class="form-control") }} </p>
    </div>

 	<div class="form-group">
             <p> {{ form.submit() }} </p>
          </div>
      </form>

